<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.servicecall.app" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.ServiceCallApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" >
        </meta-data>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD_wNa0HosMZsxC6QPWQDjUCxIf7hnkuRc" >
        </meta-data>

        <activity
            android:name=".activity.HomeActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SelectCategoryActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:label="@string/title_activity_select_category" >
        </activity>
        <activity
            android:name=".activity.SelectSubCategoryActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_select_sub_category"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:parentActivityName=".activity.SelectCategoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.servicecall.app.activity.SelectCategoryActivity" />
        </activity>
        <activity
            android:name=".activity.SelectComplaintActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:label="@string/title_activity_select_complaint" >
        </activity>
        <activity
            android:name=".activity.AddDetailsActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_add_details"
            android:parentActivityName=".activity.SelectComplaintActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.servicecall.app.activity.SelectComplaintActivity" />
        </activity>
    </application>

</manifest>
